@font-face {
    font-family: 'Norse Bold';
    src: url('fonts/Norse-Bold.otf') format('opentype');
}
html, body, main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    display: flex;
    flex-direction: row;
}
.left_side {
    background-image: url("images/background.jpg");
    background-size: cover;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner {
    width: 100%;
    height: 20%;
    background-color: rgba(103, 103, 103, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35%;
}
img {
    position: relative;
    object-fit: cover;
    height: 15vmin;
    padding-right: 3%;
}
h1 {
    font-family: 'Norse Bold';
    font-size: 12vmin;
    margin: 0;
    color: white;
}
.credit > p {
    margin: 0;
    text-align: center;
}
.credit > p, .credit > p > a {
    font-size: 1.5vw;
    font-weight: 500;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.credit {
    margin: 0 2% 4% 2%;
}
.right_side {
    display: flex;
    flex-direction: column;
    width: 65%;
}
.upper_text_white {
    background-color: #f9fafb;
}
.upper_text > p {
    font-size: calc(1.5vh + 1.5vw);
    font-weight: 700;
}
.upper_text > p:first-child {
    margin: 8vh 3vw 4vh 3vw;
}
.upper_text > p:last-child {
    margin: 0 3vw 4vh 3vw;
}
form > div {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-template-rows: repeat(3, 0fr);
}
input {
    appearance: none;
    width: 200px;
    height: 25px;
    border: 2px solid #E5E7EB;
    border-radius: 8px;
    outline: 0;
    padding: 2px 4px;
    font-size: 16px;
}
input:focus {
    border: 2px solid black;
}
.left_column {
    padding: 18px 40px;
}