@font-face {
    font-family: 'Norse Bold';
    src: url('fonts/Norse-Bold.otf') format('opentype');
}
html, body, main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    display: flex;
    flex-direction: row;
}
.left_side {
    background-image: url("images/background.jpg");
    background-size: cover;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner {
    width: 100%;
    height: 20%;
    background-color: rgba(103, 103, 103, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35%;
}
img {
    position: relative;
    object-fit: cover;
    height: 15vmin;
    padding-right: 3%;
}
h1 {
    font-family: 'Norse Bold';
    font-size: 12vmin;
    margin: 0;
    color: white;
}
.credit > p {
    margin: 0;
    text-align: center;
}
.credit > p, .credit > p > a {
    font-size: 1.5vw;
    font-weight: 500;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.credit {
    margin: 0 2% 4% 2%;
}
.right_side {
    display: flex;
    flex-direction: column;
    width: 65%;
}
.upper_text_white {
    background-color: #f9fafb;
}
.upper_text > p {
    font-size: calc(1.2vh + 1.2vw);
    font-weight: 700;
}
.upper_text > p:first-child {
    margin: 8vh 3vw 4vh 3vw;
}
.upper_text > p:last-child {
    margin: 0 3vw 4vh 3vw;
}
form > div {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-template-rows: repeat(3, 0fr);
}
legend {
    font-size: calc(1.4vh + 1.4vw);
    margin: 3vh 0 1vh 4vw;
    width: 65%;
}
label {
    font-size: 2.2vh;
    padding-left: 0.3vw;
}
input {
    appearance: none;
    width: 17vw;
    height: 3vh;
    border: 2px solid #E5E7EB;
    border-radius: 1.5vh;
    outline: 0;
    padding: 0.7vh 0.8vw;
    font-size: 3vh;
}
input:focus {
    border: 2px solid black;
}
.left_column {
    padding: 1.5vh 4vw;
}
.right_column {
    padding: 1.5vh 0;
}
.form_container {
    box-shadow: 0 4vh 4vw -6vh grey
}
button {
    appearance: none;
    width: 20vw;
    height: 8vh;
    border-radius: 1.5vh;
    background-color: #596d48;
    border: none;
    box-shadow: 0 2vh 2vw -2vh grey;
    font-size: calc(1.2vh + 1.2vw);
    color: white;
    margin: 3vh 0 0 4vw;
}
.form_container + div > p {
    font-size: 2.7vh;
    margin: 3vh 0 0 4vw;
    font-weight: 500;
}
.form_container + div > p > a {
    color: #596d48;
    font-weight: 500;
}